<div class="row listRow">
  <div class="medium-6 row">
    <div class="medium-4 columns"> <img src="assets/T1.jpg"> </div>
    <div class="medium-8 row columns">
      <h4>SOLID GREEN COTTON TSHIRT</h4>
      <p>Style: MS13KT1906</p>
      <p>Color: blue</p>
      <p class="disPrice"><sup>$</sup><span class="">220.00</span></p>
      <p class="price"> <sup>$</sup><span>180.00</span></p>
      <div class="row ctaBucket hide-for-small-only"> <span class="medium-3 columns">EDIT</span> <span class="medium-4 columns">X REMOVE</span> <span class="medium-5 columns">SAVE FOR LATER</span> </div>
    </div>
  </div>
  <div class="medium-2 columns text-center size  hide-for-small-only">S</div>
  <div class="medium-2 columns text-center qty  hide-for-small-only">1</div>
  <div class="medium-2 columns text-right priceCol  hide-for-small-only">
    <p class="disPrice"><sup>$</sup><span class="">110.00</span></p>
    <p class="price"> <sup>$</sup><span>100.00</span></p>
  </div>
</div>
