<div class="">
  <h3 class="text-center">View Product Detail</h3>
</div>
<div class="row">
  <div class="columns medium-8">
    <h4>'+prodName+'</h4>
    <p class="price">Price: <sup>$</sup><span><strong>'+netPrice+'</strong></span></p>
    <div class="viewRow row">
      <p class="medium-6 columns">Qty: '+qty+'</p>
      <p class="medium-6 columns">Size: '+size+'</p>
      <p class="medium-6 columns">Style: '+style+'</p>
      <p class="medium-6 columns">Color: '+color+'</p>
    </div>
  </div>
  <div class="columns medium-4"><img src="'+url+'"></div>
</div>
<div class="row align-center">
  <button class="alert button column medium-4 small-12">Close</button>
</div>
